<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="java" charset="UTF-8" contentType="text/html">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<h2>Users</h2>
<table class="table table-striped mt-2 mb-4">
  <thead class="thead-dark">

  <form th:action="@{/}">
<!--    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.429.253a.819.819 0 0 0-1.184 0 .883.883 0 0 0 0 1.22l4.142 4.274A.821.821 0 0 0 5 6a.821.821 0 0 0 .612-.253l4.143-4.273a.883.883 0 0 0 0-1.221.819.819 0 0 0-1.184 0L5 3.937 1.429.253Z" fill="currentColor"></path>-->
    <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.429.253a.819.819 0 0 0-1.184 0 .883.883 0 0 0 0 1.22l4.142 4.274A.821.821 0 0 0 5 6a.821.821 0 0 0 .612-.253l4.143-4.273a.883.883 0 0 0 0-1.221.819.819 0 0 0-1.184 0L5 3.937 1.429.253Z" fill="currentColor"></path></svg>

    <select th:name="sortby">
      <option value="id">id</option>
      <option value="name">name</option>
      <option value="lastname">lastname</option>
      <option value="age">age</option>
      <input type="submit" value="Сортировать"/>
    </select>
  </form>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>lastname</th>
    <th>age</th>
  </tr>
  </thead>

    <tr th:each="user : ${usersList}">
      <td th:text="${user.id}"></td>
      <td th:text="${user.name}"></td>
      <td th:text="${user.lastname}"></td>
      <td th:text="${user.age}"></td>

      <td><a th:href="@{/edit/{id}(id=${user.id})}">edit</a></td>
      <td><a th:href="@{/delete/{id}(id=${user.id})}">delete</a></td>
    </tr>
</table>
<td class="my-5"><a href="/signup" class="btn btn-primary">Add a new user<i class="fas fa-user-plus ml-2"></i></a></td>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>